*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size:  24px;
  font-family: Space Mono;
  color: hsl(186, 14%, 43%);
  

}

body{
  background-color: hsl(185, 41%, 84%);
  justify-content: center;
  align-items: center;
}

.app {
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.calculator {
  height: 80vh;
  width: 28%;
  margin-left: 35%;
  background-color: #282B34;
  box-shadow: 0 2rem 4rem ;
  border-radius: 15px;
}

.screen{
  flex-direction: row;
  background-color: #282B34;
  border-radius: 20px;
  height: 25vh;
  padding: 0 10px;
  overflow: hidden;
  white-space: no-wrap;
  color: white;
}

.result-screen {
  height: 19vh;
  font-size: 90px;
  font-weight: 600;
  display: flex;
  border-radius: 15;
  justify-content: flex-end;
  align-items: flex-end;
}

.computation-screen {
  height: 6vh;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items:flex-end;
  padding-bottom: 5px;
}

.keypad{
  background-color: #383C57;
  padding: 5px 7px;
  border-radius: 10px;
  height: 450px;
  


}

.keypad_row {
  height: 11vh; 
  width: 100%;
  display: flex; 
  color: white;
  bottom: 20px;
  padding: 5px 0 5px 7px;
}

.btn {
  width: 22%;
  height: 103%;
  font-size: 50px;
  font-family: inherit;
  background-color: #282B34;
  color: white;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  margin: 5px;
}
.btn:hover {
  color: grey;
}
.btn:active {
  transform: scale(.95);
}

.btn--large{
  width: 46%;
  transition: all .2s;

}

.btn--col{
  flex-direction: column;
  height: 214%;
}

